@model Projekat_1.Models.User

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/SignUp.css">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<div>

    <h2>Sign Up</h2>

    <h4>User</h4>
    <hr />
</div>


<div class="signup-form">
    <div class="">
        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!--label asp-for="FirstName"> </!--label> < class="control-label"></label-->
                <input asp-for="FirstName" class="txtb" required placeholder="First Name"/>
                <span asp-validation-for="FirstName" class="txtb"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="LastName" class="txtb" required placeholder="Last Name"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Username" class="txtb" required placeholder="Username"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Password" type="password" class="txtb" required placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Email" type="email" class="txtb" required placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastLog" class="control-label"></label>
                <input asp-for="LastLog" class="form-control" />
                <span asp-validation-for="LastLog" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdDevice" class="control-label"></label>
                <select asp-for="IdDevice" class="form-control" asp-items="ViewBag.IdDevice"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="signup-btn">
           
               
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
