@using System.Web.Optimization
@{
    ViewBag.ActiveMenu = PageNames.Home; //The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/Bundles/home-index")
}


<div class="block-header">
    <h1 style="color:#4DBED0;">ADMIN HOMEPAGE</h1>
</div>

<!-- Widgets -->
<div class="row clearfix">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">NEW REGISTRATIONS</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-grey hover-expand-effect">
            <div class="icon">
                <i class="material-icons">forum</i>
            </div>
            <div class="content">
                <div class="text">NEW COMMENTS</div>
                <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">NEW VISITORS</div>
                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-grey hover-expand-effect">
            <div class="icon">
                <i class="material-icons">star</i>
            </div>
            <div class="content">
                <div class="text">NEW REVIEWS</div>
                <div class="number count-to" data-from="0" data-to="543" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Widgets -->

<br />
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="header">
            <div>
                <script>
                    window.onload = function () {

                        var totalVisitors = 883000;
                        var visitorsData = {
                            "New vs Returning Visitors": [{
                                click: visitorsChartDrilldownHandler,
                                cursor: "pointer",
                                explodeOnClick: false,
                                innerRadius: "75%",
                                legendMarkerType: "circle",
                                name: "New vs Returning Visitors",
                                radius: "100%",
                                showInLegend: true,
                                startAngle: 90,
                                type: "doughnut",
                                dataPoints: [
                                    { y: 519960, name: "New Visitors", color: "#4DBED0" },
                                    { y: 363040, name: "Returning Visitors", color: "#FFBF00" }
                                ]
                            }],
                            "New Visitors": [{
                                color: "#4DBED0",
                                name: "New Visitors",
                                type: "column",
                                dataPoints: [
                                    { x: new Date("1 Jan 2020"), y: 33000 },
                                    { x: new Date("1 Feb 2019"), y: 35960 },
                                    { x: new Date("1 Mar 2020"), y: 42160 },
                                    { x: new Date("1 Apr 2020"), y: 42240 },
                                    { x: new Date("1 May 2019"), y: 43200 },
                                    { x: new Date("1 Jun 2019"), y: 40600 },
                                    { x: new Date("1 Jul 2019"), y: 42560 },
                                    { x: new Date("1 Aug 2019"), y: 44280 },
                                    { x: new Date("1 Sep 2019"), y: 44800 },
                                    { x: new Date("1 Oct 2019"), y: 48720 },
                                    { x: new Date("1 Nov 2019"), y: 50840 },
                                    { x: new Date("1 Dec 2019"), y: 51600 }
                                ]
                            }],
                            "Returning Visitors": [{
                                color: "#FFBF00",
                                name: "Returning Visitors",
                                type: "column",
                                dataPoints: [
                                    { x: new Date("1 Jan 2019"), y: 22000 },
                                    { x: new Date("1 Feb 2020"), y: 26040 },
                                    { x: new Date("1 Mar 2020"), y: 25840 },
                                    { x: new Date("1 Apr 2020"), y: 23760 },
                                    { x: new Date("1 May 2019"), y: 28800 },
                                    { x: new Date("1 Jun 2015"), y: 29400 },
                                    { x: new Date("1 Jul 2019"), y: 33440 },
                                    { x: new Date("1 Aug 2019"), y: 37720 },
                                    { x: new Date("1 Sep 2019"), y: 35200 },
                                    { x: new Date("1 Oct 2019"), y: 35280 },
                                    { x: new Date("1 Nov 2019"), y: 31160 },
                                    { x: new Date("1 Dec 2019"), y: 34400 }
                                ]
                            }]
                        };

                        var newVSReturningVisitorsOptions = {
                            animationEnabled: true,
                            theme: "light2",
                            title: {
                                text: "New VS Returning Visitors"
                            },
                            subtitles: [{
                                text: "Click on Any Segment to Drilldown",
                                backgroundColor: "#2eacd1",
                                fontSize: 16,
                                fontColor: "white",
                                padding: 5
                            }],
                            legend: {
                                fontFamily: "calibri",
                                fontSize: 14,
                                itemTextFormatter: function (e) {
                                    return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
                                }
                            },
                            data: []
                        };

                        var visitorsDrilldownedChartOptions = {
                            animationEnabled: true,
                            theme: "light2",
                            axisX: {
                                labelFontColor: "#717171",
                                lineColor: "#a2a2a2",
                                tickColor: "#a2a2a2"
                            },
                            axisY: {
                                gridThickness: 0,
                                includeZero: false,
                                labelFontColor: "#717171",
                                lineColor: "#a2a2a2",
                                tickColor: "#a2a2a2",
                                lineThickness: 1
                            },
                            data: []
                        };

                        var chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
                        chart.options.data = visitorsData["New vs Returning Visitors"];
                        chart.render();

                        function visitorsChartDrilldownHandler(e) {
                            chart = new CanvasJS.Chart("chartContainer", visitorsDrilldownedChartOptions);
                            chart.options.data = visitorsData[e.dataPoint.name];
                            chart.options.title = { text: e.dataPoint.name }
                            chart.render();
                            $("#backButton").toggleClass("invisible");
                        }

                        $("#backButton").click(function () {
                            $(this).toggleClass("invisible");
                            chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
                            chart.options.data = visitorsData["New vs Returning Visitors"];
                            chart.render();
                        });

                    }
                </script>
                <style>
                    #backButton {
                        border-radius: 4px;
                        padding: 8px;
                        border: none;
                        font-size: 16px;
                        background-color: #808080;
                        color: white;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        cursor: pointer;
                    }

                    .invisible {
                        display: none;
                    }
                </style>
                <body>

                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                    <button class="btn invisible" id="backButton">< Back</button>
                    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                </body>
            </div>
        </div>
    </div>
</div>

<br />
<br />



<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header" style="background-color:#4DBED0;">
                <h2> LAST POSTS</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead >
                            <tr ">
                                <th>#</th>
                                <th>Author</th>
                                <th>Location</th>
                                <th>Title</th>
                                <th>Photo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ahmed</td>
                                <td>Sarajevo</td>
                                <td>Cute place in Sarajevo, reserve before someone else!</td>
                                <td>
                                    <img style="width:250px; height:150px;" src="~/images/kuca3.jpg"/>
                                </td>
                                
                                
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Maria</td>
                                <td>Barcelona</td>
                                <td>This apartment in Barcelona is rarely free, so hurry up and reserve it immediately.</td>
                                <td>
                                    <img style="width:250px; height:150px; " src="~/images/kuca2.jpg" />
                                </td>
                                
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Marko</td>
                                <td>Split</td>
                                <td>
                                    The traditional stone house in the city center, but you do not have to worry about noise and curious because the garden around
                                    the house is fenced by a stone wall and the house is elevated giving you the peace.
                                </td>
                                <td>
                                    <img style="width:250px; height:150px; " src="~/images/kuca1.jpg" />
                                </td>
                                
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Can</td>
                                <td>Istanbul</td>
                                <td>
                                    Brand new and very clean house with 3 single beds. It has a very nice small garden. Quiet but very central location, close
                                    to main communication arteries and public transport. Free wireless internet and great views of the city.
                                </td>
                                <td>
                                    <img style="width:250px; height:150px; " src="~/images/kuca4.jpg" />

                                </td>
                                
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="color: blue">
                                    <a href="http://localhost:61814/UserLog/UsersHome" s> See more </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header" style="background-color:#FFBF00;">
                    <h2>TASK INFOS</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Manager</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Task A</td>
                                    <td><span class="label bg-green">Doing</span></td>
                                    <td>Zerina</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Task B</td>
                                    <td><span class="label bg-blue">To Do</span></td>
                                    <td>Senida</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Task C</td>
                                    <td><span class="label bg-light-blue">On Hold</span></td>
                                    <td>Adna</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-light-blue" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Task D</td>
                                    <td><span class="label bg-orange">Wait Approvel</span></td>
                                    <td>Zerina&Adna&Senida</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header" style="background-color: #4DBED0">
                    <h2>NOTES</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="donut_chart" class="dashboard-donut-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
